 .input {
 
    border: none;
    outline: none;
   border-bottom: 1.5px solid #accffe;
   width: 100%;
    background:transparent ;
    color:rgb(200, 200, 225);
    font-size: 14px;
    margin-bottom: 3rem;
    margin-right:2rem;
  }
   