.female {
  position: absolute;
  left: 440px;
  top: 3px;
  width: 50px;
}

.male {
  position: absolute;
  left: 417px;
  bottom:367px;
  width: 120px;
}

@media (max-width: 640px) {
  .female {
    display: none;
  }

  .male {
    display: none;
  }
}
