.female {
  position: absolute;
  left: 470px;
  top: 25px;
  width: 50px;
}

.male {
  position: absolute;
  left: 430px;
  top: 12px;
  width: 120px;
}

@media (max-width: 640px) {
  .female {
    display: none;
  }

  .male {
    display: none;
  }
}
