.avatarView {
  border: 5px solid chartreuse;
  display: flex;
  justify-content: center;
  align-items: center;
}

.female {
  background-color: red;
  padding: 50px;
  border: 1px solid black;
}

.male {
  background-color: blue;
  padding: 50px;
  border: 1px solid black;
}
