.inner {
  align-items: start;
  width: 100%;
}
h1 {
  color: rgb(118, 182, 246);
  text-transform: uppercase;
  font-family: muli-semibold;
  text-shadow: #c6e5fd;
  margin-bottom: 2rem;
}
.disable{
  border: none;
  width: 100%;
  height: 45px;
  cursor: pointer;
  background: rgb(228, 228, 229);
  color: #fff;
  text-transform: uppercase;
  font-family: muli-semibold;
  font-size: 15px;
  letter-spacing: 2px;
  transition: all 0.5s;
  border-radius: 5px;
  
}