 .inner{

    align-items: start;
    width: 100%;
   

    
} 
h1 {
    color: rgb(118, 182, 246);
    text-transform: uppercase;
    font-family: muli-semibold;
    text-shadow: #c6e5fd;
    margin-bottom:2rem;
    
  }